a {
    outline: none;
    cursor: pointer;
}
tr {
    cursor: pointer;
}
#client-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#add-client-div {
    padding-top: 150px;
    width: 100%;
    display: none;
}
#journal-container {
    width: 100%;
    height: 100%;
    display: none;
}
#home-container {
    background-color: white;
    width: 100%;
    height: 100%;
}
#home-container .container {
    margin-top: 20%;
}
#home-container h1{
    color: #222222;
    font-size: 40px;
    text-align: center;
}
#home-container p {
    color: #222222;
    font-size: 20px;
    text-align: center;
}
.add-button {
    position: relative;
    font-size: 17px;
}

#add-client-div .col h2{
    text-align: center;
}
#add-new-btn {
    margin-top: 30px;
    font-size: 20px;
}
#journal-container h2{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
#client-container h2{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

#client-container {
    display: none;
}
#brand{
    color: white;
    font-size: 25px;
}
#navbarNavAltMarkup .navbar-nav a{
    margin: 0 15px 0 15px;
}